<!-- Extends to Main.html -->
{% extends 'index.html' %}

<!-- Load static -->
{% load static %} {% load widget_tweaks %}

<!-- Load Datatables CSS -->
{% block css %}
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
	integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE="
	crossorigin="anonymous"
/>

<link rel="stylesheet" href="{% static 'css/datatables.css' %}" />
{% endblock css %}

<!-- Main Content -->
{% block content %}
<main>
	<div class="container">
		<h2 class="head-text">EVENTS ARCHIVING</h2>

		<div class="row g-1">
			<div class="col-10">
				<div class="card shadow mb-4 mt-5">
					<div class="dashboard-header card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h4 class="font-weight-bold archives">Archives ({{events.count}})</h4>
						<div>
							<a href="{% url 'backup-events' %}" class="i-docs d-none d-sm-inline-block btn btn-sm shadow-sm"> <i class="bx bx-history"></i> </a>
							<a href="{% url 'add-event' %}" class="add-docs d-none d-sm-inline-block btn btn-sm shadow-sm"> Upload Document </a>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table datatable" width="100%" cellspacing="0">
								<thead>
									<tr>
										<th>Event ID.</th>
										<th>Name</th>
										<th>Agenda</th>
										<th>Date</th>
										<th>Venue</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for event in events %}
									<tr>
										<td>{{event.id}}</td>
										<td>{{event.event_name}}</td>
										<td>{{event.event_agenda}}</td>
										<td>{{event.event_date}}</td>
										<td>{{event.event_venue}}</td>
										<td class="text-center">
											<span class="pop dl-docs d-none d-sm-inline-block btn btn-sm shadow-sm"> Preview </span>
											<a href="{% url 'event' event.id %}" class="dl-docs d-none d-sm-inline-block btn btn-sm shadow-sm"> View </a>
											<div class="preview_item-details">
												<h3 class="details_title">{{event.id}} - {{event.event_name}}</h3>
												<p class="details_description">{{event.event_agenda}}</p>
												<ul class="details_info">
													<li>Date - <span>{{event.event_date}}</span></li>
													<li>Venue - <span>{{event.event_venue}}</span></li>
													<li>No of Participants - <span>{{event.no_participants}}</span></li>
													<li>Agency - <span>{{event.impl_agency}}</span></li>
													<li>Created At - <span>{{event.created_at}}</span></li>
													<li>Created By - <span>{{event.created_by}}</span></li>
													{% if event.created_at|date:"F d, Y f a" == event.modified_at|date:"F d, Y f a" %}
													<li>Modified At - <span>Not yet modified</span></li>
													<li>Modified By - <span>Not yet modified</span></li>
													{% else %}
													<li>Modified At - <span>{{event.modified_at}}</span></li>
													<li>Modified By - <span>{{event.modified_by}}</span></li>
													{% endif %}
												</ul>

												{% if event.attendance_file %}
												<span class="file"><a href="{{event.attendance_file.url}}" target="_blank">View File</a></span>
												{% endif %}
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-2">
				<div class="mt-5 ms-2">
					<div class="row g-1 align-items-center">
						<h3 class="text-center mt-1">Filters</h3>
						<form action="{% url 'events' %}" method="GET" id="searchForm">
							<div class="mb-3">{% render_field form.event_name__icontains placeholder="Event Name" class+="form-control" %}</div>

							<div class="mb-3">{% render_field form.event_agenda__icontains placeholder="Event Agenda" class+="form-control" %}</div>

							<div class="mb-3">{% render_field form.event_venue__icontains placeholder="Event Venue" class+="form-control" %}</div>

							<div class="mb-3">{% render_field form.impl_agency__icontains placeholder="Impl Agency" class+="form-control" %}</div>

							<div class="mb-3">{% render_field form.event_date placeholder="Event Date" class+="form-control" autocomplete="off" %}</div>

							<!-- <div>{{form.moau_type}}</div>d -->

							<!-- <div>{{form.moau_approve_date}}</div> -->

							<a class="btn btn-danger" href="{% url 'events' %}">Reset</a>
							<input type="submit" value="Submit" class="btn btn-primary" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="preview_popup">
		<div class="preview_popup-inner">
			<div class="preview_popup-content grid">
				<span class="preview_popup-close">
					<i class="bx bx-x"></i>
				</span>
				<div class="preview_popup-info">
					<div class="preview_popup-body">
						<h3 class="details_title">Try - Try</h3>
						<p class="details_description">Try</p>
						<ul class="details_info">
							<li>Approve Date - <span>Tr</span></li>
							<li>Notarized By - <span>Try</span></li>
							<li>Notarized Date - <span>Try</span></li>
							<li>Created At - <span>Try</span></li>
							<li>Created By - <span>Try</span></li>
							<li>Modified At - <span>Try</span></li>
							<li>Modified By - <span>Try</span></li>
						</ul>
						<span><a href="Try">View File</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<script
	src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"
></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
	integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k="
	crossorigin="anonymous"
></script>

<script>
	document.addEventListener("click", (e) => {
		if (e.target.classList.contains("pop")) {
			togglePortfolioPopup();

			portfolioItemDetails(e.target.parentElement);
			// console.log(e.target.parentElement);
		}
	});

	function togglePortfolioPopup() {
		document.querySelector(".preview_popup").classList.toggle("open");
	}

	document.querySelector(".preview_popup-close").addEventListener("click", togglePortfolioPopup);

	function portfolioItemDetails(portfolioItem) {
		document.querySelector(".preview_popup-body").innerHTML = portfolioItem.querySelector(".preview_item-details").innerHTML;
	}

	$(function () {
		$("#id_event_date").datepicker({
			format: "yyyy-mm-dd",
		});
	});
</script>

<!-- Load Datatables JS -->
{% block js %}
<script src="{% static 'js/simple-datatables.js' %}"></script>
<script src="{% static 'js/tinymce.min.js' %}"></script>
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock js %} {% endblock content %}
